spawn-sh-at-startup "kitty --class HeadlessKitty --single-instance --listen-on unix:/tmp/kitty-socket tail -f /dev/null"
//spawn-sh-at-startup "ghostty --gtk-single-instance=true --quit-after-last-window-closed=false --initial-window=false"
spawn-sh-at-startup "awww img ~/.config/niri/wall.jpg --transition-type any --transition-step 5 --transition-fps 165 --transition-duration 2"
spawn-sh-at-startup "foot --server"
spawn-at-startup "mpd"
spawn-at-startup "mpDris2"
spawn-at-startup "~/.local/bin/niri-sidebar" "listen"
spawn-sh-at-startup "wl-paste --type text --watch cliphist store" // clipboard store text data
spawn-sh-at-startup "wl-paste --type image --watch cliphist store" // clipboard store image data
//spawn-sh-at-startup "quickshell -p ~/Downloads/skwd-wall/daemon.qml"
//spawn-sh-at-startup "mpvpaper -o 'loop --no-audio --hwdec=auto --profile=high-quality --video-sync=display-resample --interpolation --tscale=oversample' '*' ~/.config/niri/wall.mp4"
