window-rule {
  geometry-corner-radius 20
  clip-to-geometry true
}

window-rule {
  match app-id="^kitty$"
  match app-id="^footclient$"
  match app-id="^Alacritty$"
  match app-id="^foot$"
  match app-id="^com.mitchellh.ghostty$"
  background-effect {
    blur true
  }
}

window-rule {
    match app-id="^brave-browser$"
    match app-id=r#"firefox$"#
    match app-id="firefox-developer-edition"
    match app-id="^vivaldi-stable$"
    match app-id="^zen$"

    //open-on-workspace "web"
    open-maximized true
}

window-rule {
    match app-id="^Code$"
    match app-id="^dev.zed.Zed$"

    //open-on-workspace "dev"
    open-maximized true
}

// Open the Firefox picture-in-picture player as floating by default.
window-rule {
  match title="^Picture-in-Picture$"
  match title=r#"^Picture in picture$"#
  match app-id="org.kde.kdeconnect.daemon"
  //match title="^(Volume Control)$"
  open-floating true
  open-focused false
  default-floating-position x=20 y=20 relative-to="bottom-right"
  default-column-width { proportion 0.22; }
  default-window-height { proportion 0.22; }
  shadow {
        on
        softness 60
        spread 5
        offset x=0 y=10
        draw-behind-window true
        color "#000000"
    }
}

window-rule {
  match title="^(Volume Control)$"
  open-floating true
  open-focused false
  default-column-width { proportion 0.43; }
  default-window-height { proportion 0.43; }
  shadow {
        on
        softness 60
        spread 5
        offset x=0 y=10
        draw-behind-window true
        color "#000000"
    }
}

window-rule {
  match app-id="^(Pinentry-gtk)$"
  open-floating true
  open-focused true
  default-column-width { proportion 0.27; }
  default-window-height { proportion 0.23; }
  shadow {
        on
        softness 60
        spread 5
        offset x=0 y=10
        draw-behind-window true
        color "#000000"
    }
}

window-rule {
  match app-id="org.kde.kdeconnect.app"
  match app-id="localsend"
  open-floating true
  open-focused true
  default-floating-position x=20 y=20 relative-to="bottom-right"
  default-column-width { fixed 400; }
  default-window-height { proportion 0.72; }
}

// Open mpv player top right corner
window-rule {
    match app-id="^(mpv)$"
    match title="^(mpv)$"
    open-floating true
    open-focused false
    default-floating-position x=0 y=0 relative-to="top-right"
    default-column-width { fixed 500; }
    default-window-height { proportion 0.30; }
    geometry-corner-radius 50 
    clip-to-geometry true
    shadow {
        on
        softness 60
        spread 5
        offset x=0 y=10
        draw-behind-window true
        color "#000000"
      }
    }

// Minimal launcher
window-rule {
    match title="^(launcher)$"
    match app-id="launcher"
    open-floating true
    open-focused true
    default-floating-position x=0 y=0 relative-to="bottom-right"
    default-column-width { fixed 500; }
    default-window-height { proportion 0.30; }
    geometry-corner-radius 50 
    clip-to-geometry true
    background-effect {
        blur true
      }
    }

// Minimal wallpaper picker
window-rule {
    match title="^(niri-wall)$"
    match app-id="niri-wall"
    open-floating true
    open-focused true
    //default-floating-position x=200 y=200
    default-floating-position x=0 y=0 relative-to="right"
    default-column-width { fixed 500; }
    default-window-height { proportion 0.30; }
    //default-window-height { fixed 405; }
    geometry-corner-radius 50 
    clip-to-geometry true
    background-effect {
        blur true
      }
    }

window-rule {
  match is-floating=true is-active=false
  opacity 0.75
}

window-rule {
    match is-floating=true
    min-width 100
    min-height 100
}

layer-rule {
  match namespace="^rofi$"
  geometry-corner-radius 50
  background-effect {
    blur true
  }
}

layer-rule {
  match namespace="^waybar$"
  match namespace="^logout_dialog$"
  match at-startup=true
  background-effect {
    blur true
  }
}

// Put inside the overview backdrop.
layer-rule {
    //match namespace="^swww-daemonoverlay$"
    place-within-backdrop true
}

// layer-rule {
//   match namespace="^notifications$"
//   background-effect {
//     blur true
//   }
// }
