[Desktop Entry]
Version=1.0
Name=Niri Wallpaper Toggle
Type=Application
Icon=niri
Exec=bash "$HOME/.local/bin/niri-wall-toggle"
Comment=A niri wallpaper launcher
Terminal=false
Categories=Emulator;Game;
MimeType=application/x-nx-nca;application/x-nx-nro;application/x-nx-nso;application/x-nx-nsp;application/x-nx-xci;
Keywords=Gamecube;Nintendo Wii;Emulator;
